/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
    color:white;
}

form {
    margin-bottom: 20px;
}

input, button, select {
    margin: 5px;
    padding: 10px;
}

.product {
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(50% - 40px); /* Two grids per line */
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.product img {
    width: 160px;
    height: 140px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

#productGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content:10px;
    width:30rem;
    position:relative;
    left:-15px;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content:10px;
    width:30rem;
     position:relative;
    left:-15px;

}
select option{
    background: black;
     color:white;
     border:1px solid white;
}
#productName, #productPrice{
    border:0px;
    border-radius:5px;
    width:10rem;
    
}